.BackHome {
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}

.centrado h1{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
   font-size: 4em;
   font-weight: 100;
   text-align: center;
   width: 100%;
   text-shadow: 
    2px 2px 0 #000,
    -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
  -webkit-text-stroke: 1px rgba(0,0,0,.7);
}
